.title {
    font-size: 34px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.title2 {
    font-size: 24px;
    background-color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ordered,
.unordered {
    background-color: black;
    color: red;
    font-weight: 700;
}